html, body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

html{
    background-image: url(/Resources/Pictures/1199985.jpg);
    background-size: cover;
}

header{
    background-image: url(https://s3.amazonaws.com/files.d20.io/images/340594935/V1mALp3pN4PSLJdBDcCdag/med.jpg?1683387683052);
    height:1040px;
    background-size: cover;
    background-position: 90px;
    position: relative;
    bottom: 65px;

}

header h1{
    font-family: cursive;
    color: crimson;
    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
}

nav li{
    display: inline-block;
    width: 200px;
}

section{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color:white;
    display: inline-block;
}

.Riah:hover{
    color: black;
}

.Q{
    text-align: right;
    position: relative;
    bottom: 30px;
    font-size: 50px;
    
    width: 25pc;
}

.Luceran:hover{
    color: #ffaa33;
}

.L{
    text-align: right;
    position: relative;
    bottom: 30px;
    left: 100px;
    font-size: 50px;
}


.Altavar:hover{
    color:purple;
}

.A{
    text-align: right;
    position: relative;
    bottom: 30px;
    left: 200px;
    font-size: 50px;
}


.Niobe:hover{
    color: #f3872f;
}

.N{
    text-align: right;
    position: relative;
    bottom: 30px;
    left: 300px;
    font-size: 50px;
}


.Vera:hover{
    color:blue;
}

.V{
    text-align: right;
    position: relative;
    bottom: 30px;
    left: 250px;
    font-size: 50px;
    width: 25pc;

}


