*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-transform: uppercase;
    color: white;
    text-align: center;
}

html{
    background-image: url(/Resources/Pictures/BattleArena.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}

a{
    color:white;
    position: relative;
    bottom: 30px;
    font-size: 30px;

}

p{
    color: white;
    font-size: 22px;
    line-height: 3;
}