html, body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

html{
    background-image: url(/Resources/Pictures/shadowfell\ building.jpg);
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    line-height: 3;
}

header{
    background-size: cover;
    background-position: 90px;
    position: relative;
    bottom: 65px;

}

header h1{
    font-family: cursive;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
}

nav li{
    display: inline-block;
    width: 200px;
}

section{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
a{
    color: white;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    
}
